html {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    font-family: 'quicksand';
    color:rgb(235, 235, 235)
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    position: relative;
    top: 30px;
    font-size: 20px;
}

button {
    font-size: 15px;
}

.content {
    position: relative;
    top: 50px;
}

.label {
    display: block;
    font-size: 20px;
}
button {
    display: block;
    width: 8em;
    height: 2.5em;
    border: 5px;
    border-radius: 10px;
}

input {
    margin: 20px 0px 20px 0px;
    width: 20em;
    height: 2.5em;
    border: 1px;
    border-radius: 8px;
}